.tags {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 4px;
    &__items {
        margin-top: 10px;
    }
    &__active {
        background-color: green !important;
    }
}

@media (max-width: 992px) {
    .tags {
        margin-top: 40px;
        text-align: center;
        &__title {
            font-size: 18px;
        }
        &__items {
            span {
                font-size: 16px;
            }
        }
    }
}