.items {
    &__feed {
        display: flex;
        align-items: center;
        span {
            padding: 15px;
            padding-top: 0;
            padding-right: 20px;
            text-align: center;
        }
    }
    &__active {
        color: green;
        border-bottom: 2px solid green;
    }
    &__unactive {
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .items {
        &__row {
            justify-content: center;
        }
    }
}
