.list {
    &__item {
        &_box {
            width: 100%;
            &_username {
                span {
                    color: green;
                }
            }
        }
        &_content {
            span {
                font-size: 26px;
            }
            p {
                font-size: 22px;
            }
        }
    }
    &__link {
        color: green;
    }
}