.banner {
    width: 100%;
    min-height: 260px;
    background-color: green;
    &__item {
       padding: 25px 0;
    }
    &__title {
        padding-bottom: 40px;
    }
    &__second {
        background-color: #333;
        h1 {
            color: white;
        }
    }
    &__user {
        color: white;
        span {
            color: white;
        }
    }
}